/* top head section.*/

*{
    font-family: Azeret Monno, monospace;
    color: #0D1321;
}
.bg-img{
    max-width: 1440px;
    height: 650px;
    background-image: url(../pictures/Hero-bg.png);
    margin: 0 auto;
}

.my-icon{
    max-width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.information{
    max-width: 1000px;
   margin: 0 auto;
   text-align: center;
}
.title{
    font-size: 48px;
    font-weight: bold;
    color: #0D1321;
    font-family:Azeret Monno, monospace;
    width: 100%;
    margin-bottom: 24px;
}
.describe{
    font-size: 16px;
    font-weight: normal;
    font-weight: bold;
}
.youtube-chanel{
    text-decoration: none;
    height: 65px;
    width: 200px;
    border-radius: 8px;
    font-size: 24px;
    background-color: #0D1321;
    color: #ffffff;
    box-shadow: #0D1321;
    margin-top: 40px;
}
.youtube-chanel a{
    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
}

/* second/ */

.one{
    max-width: 1140px;
    height: 1400px;
    border: 2px solid red;
    background-color: hsl(0, 50%, 98%);
    margin: 0 auto;
    margin-top: 70px;
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
}
.statement .dev{
    font-size: 32px;
    font-weight: bolder;
    font-family: Azeret Monno, monospace;

}
.statement .info{
    font-size: 16px;
    font-weight: 500;


}
.statement{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/* .layer-0ne */


.layer-0ne{
    display: flex;
    margin: 0 auto;
    background-color: white;
   
    height: 350px;
    max-width: 950px;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
}
.text{
    margin-right: 110px;
}
.expres{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
}

.text .more{
    border: 2px solid #0D1321 ;
    height: 48px;
    width: 150px;
}


.text .status{
    font-size: 16px;
    font-weight: 600;

}

  .lern-more {
    
    height: 45px;
    width: 150px;
    font-size: 24px;
    color: #ffffff;
    box-shadow: #0D1321;
    background-color:white;
    margin-top: 15px;
    
}
.lern-more a{
    text-decoration: none;
    color: #0D1321;
}

.layer-two{
    display: flex;
    margin: 0 auto;
    background-color: white;
   
    height: 350px;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 48px;
    padding-right: 48px;
    gap: 40px;

}


.layer-three{
    margin-top: 64px;
}



/* .section-inspiration */

.inspired{
    max-width: 1140px;
    height: 900px;
    margin: 0 auto;
    
}

.comment{
   
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}


.comment> .head{
    font-size: 32px;
    font-weight: bolder;
   
}

.comment .explain{
    font-size: 16px;
    font-weight: 600;
}

.frame{
   margin-top: 48px;
   padding-left: 20px;
   padding-right: 20px;
   border: .5px solid #0D1321;
   background-size: cover;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}


/* .last section  */

.last{
    
    height:500px;
    max-width: 1140px;
    margin: 0 auto;
}
.last-div{
    text-align: center;
}

.last-div .title{
    text-align: center;
    margin: 0 auto;
    font-size: bolder;
}
.last-div .description{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}


/* .cartbox */

.cart-one{
    width: 362px;
    height: 270px;
    background-color: #fff5f5;
    padding-left: 10px;
    padding-right: 10px;
    gap: 24px;
    border-radius: 10px;

}
.cart-one .end{
    font-size: 24px;
    font-weight: bold;
 

}
.cart-one .set-end{
    font-size: 16px;
    font-weight: bold;
}
.cart-one .link{
    font-size: 20px;
    font-weight: bold;
    background-color: #fff5f5;
    color: black;
    border: none;    
}
.cart-box{
    display: flex;
    margin: 0 auto;
    gap: 20px;margin-bottom: 20px;
}
.cart-box img{
    margin-top: 30px;
}


/* .cart-two */


.cart-two{
    width: 362px;
    height: 270px;
    background-color: #ecf6ff;
    padding-left: 10px;
    padding-right: 10px;
    gap: 24px;
    border-radius: 10px;
}
.cart-two .end{
    font-size: 24px;
    font-weight: bold;
 

}
.cart-two .set-end{
    font-size: 16px;
    font-weight: bold;
}
.cart-two .link{
    font-size: 20px;
    font-weight: bold;
    background-color: #ecf6ff;
    color: black;
    border: none;
} 


/* .cart-three */



.cart-three{
    width: 362px;
    height: 270px;
    background-color: #fffdf0;
    padding-left: 10px;
    padding-right: 10px;
    gap: 24px;
    border-radius: 10px;
}

.cart-three .end{
    font-size: 24px;
    font-weight: bold;
 

}
.cart-three .set-end{
    font-size: 16px;
    font-weight: bold;
}
.cart-three .link{
    font-size: 20px;
    font-weight: bold;
    background-color: #fffdf0;
    color: black;
    border: none;   
}

/* last-end.part */


.feedback{
    max-width: 1140px;
    height: 360px;
    background-image: url(../pictures/handshake.jpg);
    margin: 0 auto;  
    background-color: white;
    display: block;
    background-size: cover;
    border-radius: 16px;
    box-shadow: rgb(0, 0, 0);
    padding-top: 48px;

    
}

.forward-feedback{
    margin: 0 auto;
    width: 600px;
    height: 200px;
    text-align: center;
    
}
.forward-feedback .head{
    
    font-size: 32px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.forward-feedback .discribe{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.submeet-area{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
}
.submeet-area .good-bye{
    font-size: 20px;
    height: 30px;
    padding-left: 15px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}
.submeet-area .sbmt{
    font: size 20px;
    height: 32px;
    width: 80px;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.feedback .over{
    height: 30px;
    width: 40px;
}
    
    
    
