/* top head section.*/

*{
    font-family: Azeret Monno, monospace;
    color: #0D1321;
}
.bg-img{
    max-width: 1440px;
    height: 650px;
    background-image: url(../pictures/Hero-bg.png);
    margin: 0 auto;
}

.my-icon{
    max-width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.information{
    max-width: 1000px;
   margin: 0 auto;
   text-align: center;
}
.title{
    font-size: 48px;
    font-weight: bold;
    color: #0D1321;
    font-family:Azeret Monno, monospace;
    width: 100%;
    margin-bottom: 24px;
}
.describe{
    font-size: 16px;
    font-weight: normal;
    font-weight: bold;
}
.youtube-chanel{
    text-decoration: none;
    height: 65px;
    width: 200px;
    border-radius: 8px;
    font-size: 24px;
    background-color: #0D1321;
    color: #ffffff;
    box-shadow: #0D1321;
    margin-top: 40px;
}
.youtube-chanel a{
    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
}

/* second/ */

.one{
    max-width: 1140px;
    height: 1400px;
    border: 2px solid red;
    background-color: hsl(0, 50%, 98%);
    margin: 0 auto;
    margin-top: 70px;
    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
}
.statement .dev{
    font-size: 32px;
    font-weight: bolder;
    font-family: Azeret Monno, monospace;

}
.statement .info{
    font-size: 16px;
    font-weight: 500;


}
.statement{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/* .layer-0ne */


.layer-0ne{
    display: flex;
    margin: 0 auto;
    background-color: white;
   
    height: 350px;
    max-width: 950px;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
}
.text{
    margin-right: 110px;
}
.expres{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
}

.text .more{
    border: 2px solid #0D1321 ;
    height: 48px;
    width: 150px;
}


.text .status{
    font-size: 16px;
    font-weight: 600;

}

  .lern-more {
    
    height: 45px;
    width: 150px;
    font-size: 24px;
    color: #ffffff;
    box-shadow: #0D1321;
    background-color:white;
    margin-top: 15px;
    
}
.lern-more a{
    text-decoration: none;
    color: #0D1321;
}

.layer-two{
    display: flex;
    margin: 0 auto;
    background-color: white;
   
    height: 350px;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-left: 48px;
    padding-right: 48px;
    gap: 40px;

}


.layer-three{
    margin-top: 64px;
}



/* .section-inspiration */

.inspired{
    max-width: 1140px;
    height: 700px;
    margin: 0 auto;
    
}

.comment{
   
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}


.comment> .head{
    font-size: 32px;
    font-weight: bolder;
   
}

.comment .explain{
    font-size: 16px;
    font-weight: 600;
}

.frame{
   margin-top: 48px;
   padding-left: 20px;
   padding-right: 20px;
   border: .5px solid #0D1321;
   background-size: cover;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}